<!DOCTYPE html>
<html lang="en" xmlns th="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br /><br />
<h1>Spring Boot file upload example</h1>
<form method="POST" action="/add" th:object="${actor}"
      enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    Name: <input type="text" th:field="*{name}" />
    Real Name: <input type="text" th:field="*{realName}" />
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>
</body>
</html>